
/* Inline #6 | moz-extension://f3a90262-ee93-48ec-8502-bb6eef18c28a/src/pages/Welcome/welcome.html */

body::before {
  background-color: #625eb7;
  background-blend-mode: multiply;
	opacity: 1;
}

section.swipe-item.svelte-mct76m {
  /* background: rgba(0 0 55 / 0.3); */
  background: rgba(0 0 55 / 0);
  backdrop-filter: blur(14px);
  border: 1px solid #fff1;
}

/* Element | moz-extension://f3a90262-ee93-48ec-8502-bb6eef18c28a/src/pages/Welcome/welcome.html */

img.absolute {
  opacity: 0;
}

/* Element | moz-extension://f3a90262-ee93-48ec-8502-bb6eef18c28a/src/pages/Welcome/welcome.html */

#start-button {
  color: #0e221b;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  background: color-mix(in srgb, #a399b9 80%, white);
  border: 1px solid #fff3;
  background: #61d2ac;
  border: none;
  box-shadow: -3px 9px 19px -5px #2e4624;
}

/* Element | moz-extension://f3a90262-ee93-48ec-8502-bb6eef18c28a/src/pages/Welcome/welcome.html */

.stroke-\[0\.9\] {
  stroke-width: 0.5;
}
