@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Noto Color Emoji";
	src: url("/fonts/Noto_Color_Emoji/NotoColorEmoji-Regular.ttf");
}

/* {
	@apply outline-none;
}*/
