@import "app.postcss";

kbd {
	@apply bg-[#eee] rounded-[3px] border-[1px] border-solid border-[#b4b4b4] shadow-[0_1px_1px_rgba(0,0,0,0.2),0_2px_0_0_rgba(255,255,255,0.7)_inset] text-[#333] inline-block text-[0.85em] font-bold leading-none px-[4px] py-[2px] whitespace-nowrap;
}
