/*
  Opera One Light Theme: https://color.firefox.com/?theme=XQAAAAKxAQAAAAAAAABBKYhm849SCia9U4KEGccwS-xMDPsqvXkIbAF6EJDWcx9sS_Bi3JZGE6ZZI2STfI2PTljkkz9gsyIAA4rg52EZbTFyuKwnXxno8392VlMcfZhPucRqNGYDAVZm1opH4-iMGRiqc3B9c1MPPmK53DSbJF8BZdZKpzfDapCiycb_zxKAlo4jW4PfG1z2lRJRtFFASfzKLXhmCrO_Cn8HSd8A9oLncObfGBEPHudnhpytIYZxPf5D7U0MJhJvX9gYclL68q1YjWOTY3cft5CVKtOBjKX3Geb_lJsoAA

  Opera One Dark Theme: https://color.firefox.com/?theme=XQAAAALbAQAAAAAAAABBKYhm849SCicxcT-BCXcGHf3p79EhVPYPRdriUDkvBpmWysCv-Zw_c6APJcQtt-XOfHhINmc-3uImDNBOA4JD37r_S9CeYgHzlx6KEeFqpy4LBxxPJVVi1JFKzHFodzdIsDTMxAcZkU199kc1jW3kJg2QniVg8jvUHvlSEd5MjQHBlj21ngkz_KIpbwB5scQ4tJVAJ0eAIP8PyiE05XWran2hih3l985u-lZJIrj6BV1eI71A8zYb_RcXr_aND59iCJoKeE08m9aa5VZOJey68VepM8kC7k5PgOKr9vLiGV-gaByYTFIpj6GHe8Ujrw9Y_lXNXw
*/
/*
  widget.non-native-theme.scrollbar.size.override = 12
  widget.non-native-theme.scrollbar.style = 2
*/
:root {
  --gap: 0.25rem;
  --radius: 6px;
  --base-bg: var(--lwt-accent-color, #fbfbfb);
  --sidebar-bg: #fff;
  --sidebar-search-box-bg: #e6eef5;
  --tab-island-bg: #e7edf1;
  --tab-island-blue: #2e78f6;
  --tab-island-turqouise: #7bc6d7;
  --tab-island-green: #57bf94;
  --tab-island-lightgreen: #99d17b;
  --tab-island-yellow: #eec574;
  --tab-island-orange: #ef8d4b;
  --tab-island-red: #e24c5e;
  --tab-island-pink: #f26ca7;
  --tab-island-purple: #aa78df;
  --tab-island-tomato: #d62246;
  --tab-island-toolbar: #858585;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-bg: var(--lwt-accent-color, #111);
    --sidebar-bg: #252835;
    --sidebar-search-box-bg: #030615;
    --tab-island-bg: #1a1d2b;
  }
}
#browser {
  background: var(--base-bg);
  padding: var(--gap);
}

#sidebar-splitter {
  opacity: 0;
  /* display: none; */
  /*margin-inline: calc(var(--gap) / 2 - 3.5px) !important;*/
  width: var(--gap) !important;
  min-width: unset !important;
  border: none !important;
  padding: 0;
  margin-inline-start: unset !important;
}

#sidebar-box {
  border-radius: var(--radius);
  overflow: hidden;
  /*margin-right: var(--gap);*/
  max-width: 50dvw;
  min-width: 50px;
  padding-top: 0px !important;
  z-index: 0;
  text-shadow: none;
  background: transparent !important;
  margin: 0 !important;
  /* background: var(--sidebar-background-color, var(--toolbar-bgcolor, #fff));
   color: var(--sidebar-text-color, var(--toolbar-color, #000)); */
}

#sidebar-header {
  overflow: hidden;
  scrollbar-width: none;
  /*scrollbar-color: rgba(0 0 0 / 0.2) transparent;*/
  border: none !important;
  border-radius: var(--radius);
  container-type: inline-size;
  background: var(--sidebar-background-color, var(--sidebar-bg));
}
#sidebar-header #sidebar-switcher-target {
  width: 100%;
}
@container (width < 200px) {
  #sidebar-header #sidebar-title,
  #sidebar-header #sidebar-switcher-arrow,
  #sidebar-header #sidebar-throbber,
  #sidebar-header #sidebar-spacer,
  #sidebar-header #sidebar-close {
    display: none;
  }
}
@container (width < 250px) {
  #sidebar-header #sidebar-switcher-arrow,
  #sidebar-header #sidebar-throbber,
  #sidebar-header #sidebar-spacer,
  #sidebar-header #sidebar-close {
    display: none;
  }
}

#sidebar {
  border-radius: var(--radius);
  margin-top: var(--gap);
  background: var(--sidebar-background-color, var(--sidebar-bg));
}

#appcontent {
  border-radius: var(--radius);
  overflow: hidden;
}

#TabsToolbar tab .tab-background {
  outline: none !important;
  /* outline-color: color-mix(in lch, black 20%, var(--lwt-accent-color)) !important; */
  margin-block: 0 !important;
  min-height: unset !important;
}

#PersonalToolbar {
  /* margin-top: var(--gap); */
  margin-inline: var(--gap);
  /* margin-bottom: var(--gap); */
  border-radius: var(--radius);
}

.tabbrowser-tab {
  --identity-tab-color: transparent !important;
  --identity-icon-color: transparent !important;
  height: 34px !important;
}

#tabbrowser-arrowscrollbox {
  height: 34px !important;
  align-items: center;
  margin-top: 1.25px !important;
}

/*_______________________________*/
#titlebar {
  background: var(--lwt-accent-color);
  margin-top: var(--gap) !important;
  margin-inline: calc(var(--gap) / 2) !important;
}

#nav-bar {
  border-radius: var(--radius);
  box-shadow: none !important;
  margin-top: var(--gap);
  /* margin-top: -1px; */
  margin-inline: var(--gap);
}

.titlebar-close,
.titlebar-restore,
.titlebar-min,
.titlebar-max {
  width: 0.75rem !important;
  aspect-ratio: 1/1 !important;
  border-radius: var(--radius) !important;
}

.toolbar-button#scrollbutton-down {
  height: 100% !important;
}

#navigator-toolbox {
  border-bottom: none !important;
  background: var(--base-bg);
  margin-bottom: 0 !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon,
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
  /* box-shadow: 0 0 4px rgba(0,0,0,0.25) !important; */
  /* box-shadow: none !important; */
  box-shadow: 0px 0px 2px rgba(100, 100, 100, 0.6) !important;
}

#navigator-toolbox:has(#PersonalToolbar[collapsed=false]) #nav-bar {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#navigator-toolbox:has(#PersonalToolbar[collapsed=false]) #PersonalToolbar {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.tab-secondary-label {
  display: none;
}

toolbarspring {
  flex: unset !important;
  width: 1rem;
}
toolbarspring + toolbarspring {
  width: 2rem;
}
toolbarspring + toolbarspring + toolbarspring {
  width: 4rem;
}
toolbarspring + toolbarspring + toolbarspring + toolbarspring {
  width: 8rem;
}

#nav-bar-customization-target toolbaritem[data-extensionid] toolbarbutton {
  background: var(--tab-island-bg) !important;
}

#nav-bar-customization-target :not(toolbaritem[data-extensionid]) + toolbaritem[data-extensionid] {
  margin-right: 0 !important;
}
#nav-bar-customization-target :not(toolbaritem[data-extensionid]) + toolbaritem[data-extensionid] toolbarbutton {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

#nav-bar-customization-target toolbaritem[data-extensionid] + toolbaritem[data-extensionid]:has(+ toolbaritem[data-extensionid]) {
  margin: 0 !important;
}

#nav-bar-customization-target :not(toolbaritem[data-extensionid]) + toolbaritem[data-extensionid] ~ toolbaritem[data-extensionid]:has(+ :not(toolbaritem[data-extensionid])) {
  margin-left: 0 !important;
}
#nav-bar-customization-target :not(toolbaritem[data-extensionid]) + toolbaritem[data-extensionid] ~ toolbaritem[data-extensionid]:has(+ :not(toolbaritem[data-extensionid])) toolbarbutton {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

/* __________________COLORS__________________ */
[usercontextid] {
  background: var(--tab-island-bg) !important;
  border-radius: var(--radius) !important;
  align-items: center !important;
}
[usercontextid] .tab-stack {
  height: 80%;
}

.tabbrowser-tab.identity-color-blue:has(+ .identity-color-blue) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-blue) + .tabbrowser-tab.identity-color-blue::before {
  content: "";
  width: 0.375rem;
  height: 20px;
  display: block;
  /* background: var(--identity-icon-color); */
  background: var(--tab-island-blue);
  border-radius: 9999px;
  --identity-tab-color: var(--tab-island-blue) !important;
  --identity-icon-color: var(--tab-island-blue) !important;
  translate: 3px 0;
  z-index: 1;
}
:not(.tabbrowser-tab.identity-color-blue) + .tabbrowser-tab.identity-color-blue .tab-stack {
  margin-left: 8px;
}

.tabbrowser-tab.identity-color-blue + .tabbrowser-tab.identity-color-blue {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-blue) + .tabbrowser-tab.identity-color-blue:has(+ :not(.tabbrowser-tab.identity-color-blue)),
.tabbrowser-tab.identity-color-blue:first-child:has(+ :not(.tabbrowser-tab.identity-color-blue)),
:not(.tabbrowser-tab.identity-color-blue) + .tabbrowser-tab.identity-color-blue:last-child {
  background: transparent !important;
  color: #fff;
}

.tabbrowser-tab.identity-color-turqouise:has(+ .identity-color-turqouise) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-turqouise) + .tabbrowser-tab.identity-color-turqouise::before {
  content: "";
  width: 0.375rem;
  height: 20px;
  display: block;
  /* background: var(--identity-icon-color); */
  background: var(--tab-island-turqouise);
  border-radius: 9999px;
  --identity-tab-color: var(--tab-island-turqouise) !important;
  --identity-icon-color: var(--tab-island-turqouise) !important;
  translate: 3px 0;
  z-index: 1;
}
:not(.tabbrowser-tab.identity-color-turqouise) + .tabbrowser-tab.identity-color-turqouise .tab-stack {
  margin-left: 8px;
}

.tabbrowser-tab.identity-color-turqouise + .tabbrowser-tab.identity-color-turqouise {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-turqouise) + .tabbrowser-tab.identity-color-turqouise:has(+ :not(.tabbrowser-tab.identity-color-turqouise)),
.tabbrowser-tab.identity-color-turqouise:first-child:has(+ :not(.tabbrowser-tab.identity-color-turqouise)),
:not(.tabbrowser-tab.identity-color-turqouise) + .tabbrowser-tab.identity-color-turqouise:last-child {
  background: transparent !important;
  color: #fff;
}

.tabbrowser-tab.identity-color-green:has(+ .identity-color-green) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-green) + .tabbrowser-tab.identity-color-green::before {
  content: "";
  width: 0.375rem;
  height: 20px;
  display: block;
  /* background: var(--identity-icon-color); */
  background: var(--tab-island-green);
  border-radius: 9999px;
  --identity-tab-color: var(--tab-island-green) !important;
  --identity-icon-color: var(--tab-island-green) !important;
  translate: 3px 0;
  z-index: 1;
}
:not(.tabbrowser-tab.identity-color-green) + .tabbrowser-tab.identity-color-green .tab-stack {
  margin-left: 8px;
}

.tabbrowser-tab.identity-color-green + .tabbrowser-tab.identity-color-green {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-green) + .tabbrowser-tab.identity-color-green:has(+ :not(.tabbrowser-tab.identity-color-green)),
.tabbrowser-tab.identity-color-green:first-child:has(+ :not(.tabbrowser-tab.identity-color-green)),
:not(.tabbrowser-tab.identity-color-green) + .tabbrowser-tab.identity-color-green:last-child {
  background: transparent !important;
  color: #fff;
}

.tabbrowser-tab.identity-color-lightgreen:has(+ .identity-color-lightgreen) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-lightgreen) + .tabbrowser-tab.identity-color-lightgreen::before {
  content: "";
  width: 0.375rem;
  height: 20px;
  display: block;
  /* background: var(--identity-icon-color); */
  background: var(--tab-island-lightgreen);
  border-radius: 9999px;
  --identity-tab-color: var(--tab-island-lightgreen) !important;
  --identity-icon-color: var(--tab-island-lightgreen) !important;
  translate: 3px 0;
  z-index: 1;
}
:not(.tabbrowser-tab.identity-color-lightgreen) + .tabbrowser-tab.identity-color-lightgreen .tab-stack {
  margin-left: 8px;
}

.tabbrowser-tab.identity-color-lightgreen + .tabbrowser-tab.identity-color-lightgreen {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-lightgreen) + .tabbrowser-tab.identity-color-lightgreen:has(+ :not(.tabbrowser-tab.identity-color-lightgreen)),
.tabbrowser-tab.identity-color-lightgreen:first-child:has(+ :not(.tabbrowser-tab.identity-color-lightgreen)),
:not(.tabbrowser-tab.identity-color-lightgreen) + .tabbrowser-tab.identity-color-lightgreen:last-child {
  background: transparent !important;
  color: #fff;
}

.tabbrowser-tab.identity-color-yellow:has(+ .identity-color-yellow) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-yellow) + .tabbrowser-tab.identity-color-yellow::before {
  content: "";
  width: 0.375rem;
  height: 20px;
  display: block;
  /* background: var(--identity-icon-color); */
  background: var(--tab-island-yellow);
  border-radius: 9999px;
  --identity-tab-color: var(--tab-island-yellow) !important;
  --identity-icon-color: var(--tab-island-yellow) !important;
  translate: 3px 0;
  z-index: 1;
}
:not(.tabbrowser-tab.identity-color-yellow) + .tabbrowser-tab.identity-color-yellow .tab-stack {
  margin-left: 8px;
}

.tabbrowser-tab.identity-color-yellow + .tabbrowser-tab.identity-color-yellow {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-yellow) + .tabbrowser-tab.identity-color-yellow:has(+ :not(.tabbrowser-tab.identity-color-yellow)),
.tabbrowser-tab.identity-color-yellow:first-child:has(+ :not(.tabbrowser-tab.identity-color-yellow)),
:not(.tabbrowser-tab.identity-color-yellow) + .tabbrowser-tab.identity-color-yellow:last-child {
  background: transparent !important;
  color: #fff;
}

.tabbrowser-tab.identity-color-orange:has(+ .identity-color-orange) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-orange) + .tabbrowser-tab.identity-color-orange::before {
  content: "";
  width: 0.375rem;
  height: 20px;
  display: block;
  /* background: var(--identity-icon-color); */
  background: var(--tab-island-orange);
  border-radius: 9999px;
  --identity-tab-color: var(--tab-island-orange) !important;
  --identity-icon-color: var(--tab-island-orange) !important;
  translate: 3px 0;
  z-index: 1;
}
:not(.tabbrowser-tab.identity-color-orange) + .tabbrowser-tab.identity-color-orange .tab-stack {
  margin-left: 8px;
}

.tabbrowser-tab.identity-color-orange + .tabbrowser-tab.identity-color-orange {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-orange) + .tabbrowser-tab.identity-color-orange:has(+ :not(.tabbrowser-tab.identity-color-orange)),
.tabbrowser-tab.identity-color-orange:first-child:has(+ :not(.tabbrowser-tab.identity-color-orange)),
:not(.tabbrowser-tab.identity-color-orange) + .tabbrowser-tab.identity-color-orange:last-child {
  background: transparent !important;
  color: #fff;
}

.tabbrowser-tab.identity-color-red:has(+ .identity-color-red) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-red) + .tabbrowser-tab.identity-color-red::before {
  content: "";
  width: 0.375rem;
  height: 20px;
  display: block;
  /* background: var(--identity-icon-color); */
  background: var(--tab-island-red);
  border-radius: 9999px;
  --identity-tab-color: var(--tab-island-red) !important;
  --identity-icon-color: var(--tab-island-red) !important;
  translate: 3px 0;
  z-index: 1;
}
:not(.tabbrowser-tab.identity-color-red) + .tabbrowser-tab.identity-color-red .tab-stack {
  margin-left: 8px;
}

.tabbrowser-tab.identity-color-red + .tabbrowser-tab.identity-color-red {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-red) + .tabbrowser-tab.identity-color-red:has(+ :not(.tabbrowser-tab.identity-color-red)),
.tabbrowser-tab.identity-color-red:first-child:has(+ :not(.tabbrowser-tab.identity-color-red)),
:not(.tabbrowser-tab.identity-color-red) + .tabbrowser-tab.identity-color-red:last-child {
  background: transparent !important;
  color: #fff;
}

.tabbrowser-tab.identity-color-pink:has(+ .identity-color-pink) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-pink) + .tabbrowser-tab.identity-color-pink::before {
  content: "";
  width: 0.375rem;
  height: 20px;
  display: block;
  /* background: var(--identity-icon-color); */
  background: var(--tab-island-pink);
  border-radius: 9999px;
  --identity-tab-color: var(--tab-island-pink) !important;
  --identity-icon-color: var(--tab-island-pink) !important;
  translate: 3px 0;
  z-index: 1;
}
:not(.tabbrowser-tab.identity-color-pink) + .tabbrowser-tab.identity-color-pink .tab-stack {
  margin-left: 8px;
}

.tabbrowser-tab.identity-color-pink + .tabbrowser-tab.identity-color-pink {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-pink) + .tabbrowser-tab.identity-color-pink:has(+ :not(.tabbrowser-tab.identity-color-pink)),
.tabbrowser-tab.identity-color-pink:first-child:has(+ :not(.tabbrowser-tab.identity-color-pink)),
:not(.tabbrowser-tab.identity-color-pink) + .tabbrowser-tab.identity-color-pink:last-child {
  background: transparent !important;
  color: #fff;
}

.tabbrowser-tab.identity-color-purple:has(+ .identity-color-purple) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-purple) + .tabbrowser-tab.identity-color-purple::before {
  content: "";
  width: 0.375rem;
  height: 20px;
  display: block;
  /* background: var(--identity-icon-color); */
  background: var(--tab-island-purple);
  border-radius: 9999px;
  --identity-tab-color: var(--tab-island-purple) !important;
  --identity-icon-color: var(--tab-island-purple) !important;
  translate: 3px 0;
  z-index: 1;
}
:not(.tabbrowser-tab.identity-color-purple) + .tabbrowser-tab.identity-color-purple .tab-stack {
  margin-left: 8px;
}

.tabbrowser-tab.identity-color-purple + .tabbrowser-tab.identity-color-purple {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-purple) + .tabbrowser-tab.identity-color-purple:has(+ :not(.tabbrowser-tab.identity-color-purple)),
.tabbrowser-tab.identity-color-purple:first-child:has(+ :not(.tabbrowser-tab.identity-color-purple)),
:not(.tabbrowser-tab.identity-color-purple) + .tabbrowser-tab.identity-color-purple:last-child {
  background: transparent !important;
  color: #fff;
}

.tabbrowser-tab.identity-color-tomato:has(+ .identity-color-tomato) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-tomato) + .tabbrowser-tab.identity-color-tomato::before {
  content: "";
  width: 0.375rem;
  height: 20px;
  display: block;
  /* background: var(--identity-icon-color); */
  background: var(--tab-island-tomato);
  border-radius: 9999px;
  --identity-tab-color: var(--tab-island-tomato) !important;
  --identity-icon-color: var(--tab-island-tomato) !important;
  translate: 3px 0;
  z-index: 1;
}
:not(.tabbrowser-tab.identity-color-tomato) + .tabbrowser-tab.identity-color-tomato .tab-stack {
  margin-left: 8px;
}

.tabbrowser-tab.identity-color-tomato + .tabbrowser-tab.identity-color-tomato {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-tomato) + .tabbrowser-tab.identity-color-tomato:has(+ :not(.tabbrowser-tab.identity-color-tomato)),
.tabbrowser-tab.identity-color-tomato:first-child:has(+ :not(.tabbrowser-tab.identity-color-tomato)),
:not(.tabbrowser-tab.identity-color-tomato) + .tabbrowser-tab.identity-color-tomato:last-child {
  background: transparent !important;
  color: #fff;
}

.tabbrowser-tab.identity-color-toolbar:has(+ .identity-color-toolbar) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-toolbar) + .tabbrowser-tab.identity-color-toolbar::before {
  content: "";
  width: 0.375rem;
  height: 20px;
  display: block;
  /* background: var(--identity-icon-color); */
  background: var(--tab-island-toolbar);
  border-radius: 9999px;
  --identity-tab-color: var(--tab-island-toolbar) !important;
  --identity-icon-color: var(--tab-island-toolbar) !important;
  translate: 3px 0;
  z-index: 1;
}
:not(.tabbrowser-tab.identity-color-toolbar) + .tabbrowser-tab.identity-color-toolbar .tab-stack {
  margin-left: 8px;
}

.tabbrowser-tab.identity-color-toolbar + .tabbrowser-tab.identity-color-toolbar {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:not(.tabbrowser-tab.identity-color-toolbar) + .tabbrowser-tab.identity-color-toolbar:has(+ :not(.tabbrowser-tab.identity-color-toolbar)),
.tabbrowser-tab.identity-color-toolbar:first-child:has(+ :not(.tabbrowser-tab.identity-color-toolbar)),
:not(.tabbrowser-tab.identity-color-toolbar) + .tabbrowser-tab.identity-color-toolbar:last-child {
  background: transparent !important;
  color: #fff;
}

/*
	.sidebar-placesTree treechildren::-moz-tree-cell-text
	.sidebar-placesTree treechildren::-moz-tree-row(hover),
	.sidebar-placesTree treechildren::-moz-tree-row(selected)
*/
#sidebar-search-container,
.sidebar-search-container.tabs-container {
  margin-block: 1rem !important;
}
#sidebar-search-container #search-box,
#sidebar-search-container .tabsFilter,
.sidebar-search-container.tabs-container #search-box,
.sidebar-search-container.tabs-container .tabsFilter {
  appearance: none !important;
  background: var(--sidebar-search-box-bg) !important;
  border-radius: 9999px !important;
  padding: 0.83333rem !important;
}
#sidebar-search-container #search-box image,
#sidebar-search-container .tabsFilter image,
.sidebar-search-container.tabs-container #search-box image,
.sidebar-search-container.tabs-container .tabsFilter image {
  scale: -1 1 !important;
  margin-right: 1rem !important;
}
#sidebar-search-container #viewButton,
.sidebar-search-container.tabs-container #viewButton {
  border-radius: var(--radius) !important;
  border: none !important;
  background: var(--sidebar-search-box-bg) !important;
}
#sidebar-search-container #viewButton dropmarker,
.sidebar-search-container.tabs-container #viewButton dropmarker {
  margin-left: 0.25rem !important;
}

:-moz-any(#history-panel) treechildren::-moz-tree-image(container) {
  list-style-image: none !important;
  width: 0 !important;
  display: none !important;
}

:-moz-any(#bookmarks-view) treechildren::-moz-tree-image(container) {
  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='context-fill' d='M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8z'/%3E%3C/svg%3E") !important;
}

.sidebar-placesTree treechildren {
  --opera-folder-color: #a8abad;
}
.sidebar-placesTree treechildren::-moz-tree-row {
  outline-color: transparent !important;
  outline-width: 0 !important;
  margin-block: 0.1rem !important;
}
.sidebar-placesTree treechildren::-moz-tree-separator {
  border-color: transparent !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Crect x='0' y='0' width='100%25' height='100%25' rx='0.05rem' fill-opacity='0.1' fill='%23a8abad'/%3E%3C/svg%3E") !important;
  background-size: cover !important;
  background-position: 0 0 !important;
  height: 0.1rem !important;
}
.sidebar-placesTree treechildren::-moz-tree-image(container) {
  -moz-context-properties: fill;
  fill: var(--opera-folder-color) !important;
}

/*# sourceMappingURL=userChrome.css.map */
